---
import ArrowRightIcon from "../icons/ArrowRightIcon.astro"
import { Image } from "astro:assets";

const {
  year,
  title = "Title",
  description = "Description",
  link,
  image,
  } = Astro.props;
---


<article class="project">
  <div>
    {year && <span class="subtext">{year}</span>}
    <h3 class="subtitle">{title}</h3>
  </div>
  <p>{description}</p>
  <a class="button" href={link} target="_blank">
    Visit site
    <ArrowRightIcon />
  </a>

  <div class="project__image">
    {image &&
      <Image src={image} alt={"Screenshot of " + title + " homepage"} loading="lazy" />
    }
  </div>
</article>